<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quos repellat corporis magnam atque a, itaque voluptatem modi officia, cum iure accusantium enim, tenetur ipsa. Perferendis hic voluptas tenetur quam?
        </p>
    </div>
</div>